pkgbase = omapic
	pkgdesc = A photo gallery with tagging, tag filtering, and slideshows
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/imclerran/omapic
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-imageformats
	depends = qt6-wayland
	source = omapic-0.2.0.tar.gz::https://github.com/imclerran/omapic/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = e319e1c20df4a6b9e7c1a70e2b20ec36587ca88eeac4940b064d165348d6de01

pkgname = omapic
